@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/konexy-personal-use?styles=109417");

:root {
  /* font size  */
  --fs-5xl: 72px;
  --fs-4xl: 48px;
  --fs-3xl: 40px;
  --fs-2xl: 36px;
  --fs-xl: 24px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
}
.clr_white {
  color: var(--clr-white) !important;
}
.clr_black {
  color: var(--clr-white) !important;
}
.clr_blue {
  color: var(--clr-white) !important;
}
.bg_blue {
  background-color: var(--clr-blue) !important;
}
.fs_5xl {
  font-size: var(--fs-5xl) !important;
}
.fs_4xl {
  font-size: var(--fs-4xl) !important;
}
.fs_3xl {
  font-size: var(--fs-3xl) !important;
}
.fs_2xl {
  font-size: var(--fs-2xl) !important;
}
.fs_xl {
  font-size: var(--fs-xl) !important;
}
.fs_lg {
  font-size: var(--fs-lg) !important;
}
.fs_md {
  font-size: var(--fs-md) !important;
}
.fs_sm {
  font-size: var(--fs-sm) !important;
}
.fw_100 {
  font-weight: 100 !important;
}
.fw_200 {
  font-weight: 200 !important;
}
.fw_300 {
  font-weight: 300 !important;
}
.fw_400 {
  font-weight: 400 !important;
}
.fw_500 {
  font-weight: 500 !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.fw_700 {
  font-weight: 700 !important;
}
.fw_800 {
  font-weight: 800 !important;
}
.fw_900 {
  font-weight: 900 !important;
}
.ff_gilroy {
  font-family: "Gilroy-Bold", sans-serif !important;
}
@media (max-width: 576px) {
  :root {
    /* font size  */
    --fs-5xl: 36px;
    --fs-4xl: 40px;
    --fs-3xl: 35px;
    --fs-2xl: 30px;
    --fs-xl: 20px;
    --fs-lg: 16px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 768px) {
  :root {
    /* font size  */
    --fs-5xl: 50px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 992px) {
  :root {
    /* font size  */
    --fs-5xl: 72px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 1200px) {
  :root {
    /* font size  */
    --fs-5xl: 72px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
