@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "gilroy400";
  src: url(../src/assets/font/gilroyfont/Gilroy-Light.ttf);
}

@font-face {
  font-family: "gilroy500";
  src: url(../src/assets/font/gilroyfont/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "gilroy600";
  src: url(../src/assets/font/gilroyfont/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "gilroy700";
  src: url(../src/assets/font/gilroyfont/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: "konexy";
  src: url(../src/assets/font/KonexyPersonal/KonexyPersonalUse.otf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

:root {
  /* font size  */
  --fs-5xl: 72px;
  --fs-4xl: 48px;
  --fs-3xl: 40px;
  --fs-2xl: 36px;
  --fs-xl: 24px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;

  /* color */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue: #6022ea;

  /* font color */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue: #6022ea;
  --clr-darkwhite: #f6f6f6;
}
.clr_white {
  color: var(--clr-white) !important;
}

.clr_black {
  color: var(--clr-black) !important;
}
.clr_blue {
  color: var(--clr-blue);
}
.bg_blue {
  background-color: var(--clr-blue) !important;
}
.bg_white {
  background-color: var(--clr-white) !important;
}
.bg_black {
  background-color: var(--clr-black) !important;
}
.background_black {
  background: var(--clr-black) !important;
}
.bg_darkwhite {
  background-color: var(--clr-darkwhite) !important;
}
.fs_5xl {
  font-size: var(--fs-5xl) !important;
}
.fs_4xl {
  font-size: var(--fs-4xl) !important;
}
.fs_3xl {
  font-size: var(--fs-3xl) !important;
}
.fs_2xl {
  font-size: var(--fs-2xl) !important;
}
.fs_xl {
  font-size: var(--fs-xl) !important;
}
.fs_lg {
  font-size: var(--fs-lg) !important;
}
.fs_md {
  font-size: var(--fs-md) !important;
}
.fs_sm {
  font-size: var(--fs-sm) !important;
}
.fw_100 {
  font-weight: 100 !important;
}
.fw_200 {
  font-weight: 200 !important;
}
.fw_300 {
  font-weight: 300 !important;
}
.fw_400 {
  font-weight: 400 !important;
}
.fw_500 {
  font-weight: 500 !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.fw_700 {
  font-weight: 700 !important;
}
.fw_800 {
  font-weight: 800 !important;
}
.fw_900 {
  font-weight: 900 !important;
}
.ff_gilroy_400 {
  font-family: "gilroy400";
}
.ff_gilroy_500 {
  font-family: "gilroy500";
}
.ff_gilroy_600 {
  font-family: "gilroy600";
}
.ff_gilroy_700 {
  font-family: "gilroy700";
}
.ff_inter {
  font-family: "Inter", sans-serif !important;
}
.ff_konexy {
  font-family: "konexy";
}
@media (min-width: 1600px) {
  .l_30 {
    left: 30px;
  }
}
@media (max-width: 1400px) {
  :root {
    /* font size  */
    --fs-5xl: 63px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 1200px) {
  :root {
    /* font size  */
    --fs-5xl: 53px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 992px) {
  :root {
    /* font size  */
    --fs-5xl: 49px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
  .back_line::before {
    content: "";
    height: 228px;
    width: 5px;
    background: #6022ea;
    position: absolute;
    left: -16px;
    top: 18px;
    display: none !important;
  }
}
@media (max-width: 768px) {
  :root {
    /* font size  */
    --fs-5xl: 37px;
    --fs-4xl: 48px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 24px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
@media (max-width: 576px) {
  :root {
    /* font size  */
    --fs-5xl: 36px;
    --fs-4xl: 30px;
    --fs-3xl: 35px;
    --fs-2xl: 30px;
    --fs-xl: 20px;
    --fs-lg: 16px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}

.bg_gray {
  background-color: #f6f6f6;
}
.bg_white {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
a {
  color: #6022ea !important;
  text-decoration: underline;
}
.bg_black {
  background: #000000;
}
.btn_border {
  border: 2px solid #6022ea;
  border-radius: 80px;
}
.border_card {
  border: 2px solid #000000;
  border-radius: 25px;
}
.bg_blk {
  background-color: white;
}
.blur {
  background: #34064d;
  height: 250px;
  width: 250px;
  filter: blur(55px);
  border-radius: 50%;
  position: absolute;
  left: -10%;
  top: -33px;
}
.blur2 {
  background: #34064d;
  height: 250px;
  width: 250px;
  filter: blur(55px);
  border-radius: 50%;
  position: absolute;
  right: -96px;
  bottom: 0;
}
.z_0 {
  z-index: 0;
}
.bg_hover:hover {
  background: linear-gradient(
    45deg,
    #ff61d3 10%,
    #b318ff 36%,
    #b318ff 47%,
    #30b6ff 67%,
    #00f0ff 76%,
    #1e43ff
  );
  max-width: fit-content;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 8px;
}
.outline_0 {
  outline: none;
  border: none;
}
.bg_gry {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}
/* .bg_blur {
  background: #ffffff;
  opacity: 0.05;
} */
.max_573 {
  max-width: 573px;
}
.bg_trnsprnt {
  background-color: transparent;
}
.w_90 {
  width: 90%;
}
.op_07 {
  opacity: 0.7;
}
.bg_blur {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
.btm_2 {
  bottom: 3%;
  left: 3%;
}
.back_line {
  position: relative;
}
.back_line::before {
  content: "";
  height: 228px;
  width: 5px;
  background: #6022ea;
  position: absolute;
  left: -16px;
  top: 18px;
}
.img_shadow {
  background: #34064d;
  height: 300px;
  width: 300px;
  filter: blur(55px);
  border-radius: 50%;
  position: absolute;
  bottom: -26px;
  left: -51px;
}
.img_shadow2 {
  background: #34064d;
  height: 250px;
  width: 250px;
  filter: blur(55px);
  border-radius: 50%;
  position: absolute;
  right: -122px;
  top: -70px;
}
